---
layout: page
title: My website
subtitle: This is where I will tell my friends way too much about me
use-site-title: true
---

<div class="container-fluid" style="margin: 0% 05% 0% 05%">
  <div class="col-sm-12 col-sm-offset-0">
    <div class="row"><br>

<div class="card-deck">
      {% for post in paginator.posts %}
      <div class="col-md-4 col-sm-4">
       <div class="card" style="border:1px solid rgba(0,0,0,.125);">
       <div class="card-header" style="height:40px">
          <h4 class="card-title"><a>{{ post.title }}</a></h4>
          <hr>
        </div>
        <div class="card-body" style="" >
          <p class="card-text" style="align=left;">
               {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
               {% assign excerpt_word_count = post.excerpt | number_of_words %}
               {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
               {% endif %}
         </p>
      <p class="card-text"><small class="text-muted">{{ post.date | date: "%B %-d, %Y" }}</small></p>
        <a href="{{ post.url | relative_url }}" class="btn btn-primary">[Read&nbsp;More]</a>
      </div>
    </div>
  </div>
  {% endfor %}
  <hr>
</div>
</div>
</div>
</div>

<hr>

<div class="container-fluid" style="margin: 0% 05% 0% 05%">
  <div class="col-sm-12 col-sm-offset-0">
    <div class="row"><br>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">It's a broader card with.</p>
      <p class="card-text"><small class="text-muted">Last mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text .</p>
      <p class="card-text"><small class="text-muted">Last </small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">It's a broader  </p>
      <p class="card-text"><small class="text-muted">Lmins ago</small></p>
    </div>
  </div>
  </div>
  </div>
  </div>



{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older&rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}


<div class="posts-list">
<div class="container-fluid" style="margin: 0% 5% 0% 5%">
<div class="col-sm-12 col-sm-offset-0">

  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | relative_url }}">
	  <h2 class="post-title">{{ post.title }}</h2>
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
    <div class="post-entry-container">
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>
   </article>
  {% endfor %}
</div>
</div>
</div>



{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr;Newer</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older&rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
