---
layout: page
title: My website
subtitle: This is where I will tell my friends way too much about me
use-site-title: true
---

<div class="container-fluid" style="margin: 0% 05% 0% 05%">
  <div class="col-sm-12 col-sm-offset-0">
    <div class="row"><br>

      {% for post in paginator.posts %}
      <div class="col-md-4 col-sm-4">
       <div class="card" style="border:1px solid rgba(0,0,0,.125);">
       <div class="card-header" style="min-height: 40px;!important">
          <h4 class="card-title"><a>{{ post.title }}</a></h4>
        </div>
        <div class="card-body" style="max-height: 300px;!important color:#ff0000" >
          <small class="text-muted">{{ post.date | date: "%B %-d, %Y" }}</small>
          <p class="card-text" style="max-height: 300px;!important">
               {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
               {% assign excerpt_word_count = post.excerpt | number_of_words %}
               {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
               {% endif %}
                <a href="{{ post.url | relative_url }}">+</a>
         </p>
      <p class="card-text"><small class="text-muted">{{ post.date | date: "%B %-d, %Y" }}</small></p>
        <a href="{{ post.url | relative_url }}" class="btn btn-primary">[Read&nbsp;More]</a>
      </div>
    </div>
  </div>
  {% endfor %}
  <hr>
</div>
</div>
</div>

<hr>

<div style="">

<div class="container-fluid" style="margin: 0% 05% 0% 05%">
  <div class="col-sm-12 col-sm-offset-0">
    <div class="row"><br>

<ul class="teasers">
            
                <li class="teasers__item">
    <div class="teaser">
        <div class="teaser__date">Fri, May 24, 2019</div>
        <a href="/news/20190524-na/">ccTLD for Namibia added to measurement</a>
        <div class="teaser__content">
            With thanks to the Namibia Network Information Center and dr. Eberhard Lisse, we can announce that as of May 24, 2019, the OpenINTEL measurement also covers the .na ccTLD and its public suffices. This extends the OpenINTEL measurement with the first ccTLD in Africa.
        </div>
        <a class="teaser__link" href="/news/20190524-na/"><span>ccTLD for Namibia added to measurement</span></a>
    </div>
</li>

            
                <li class="teasers__item">
    <div class="teaser">
        <div class="teaser__date">Tue, Apr 30, 2019</div>
        <a href="/news/20190430-gt/">ccTLD for Guatemala added to measurement</a>
        <div class="teaser__content">
            With thanks to the Registro de Dominios .gt we can announce that as of April 30, 2019, the OpenINTEL measurement also covers the .gt ccTLD. This extends the OpenINTEL measurement with the first ccTLD in Latin America.
        </div>
        <a class="teaser__link" href="/news/20190430-gt/"><span>ccTLD for Guatemala added to measurement</span></a>
    </div>
</li>

            
                <li class="teasers__item">
    <div class="teaser">
        <div class="teaser__date">Tue, Mar 26, 2019</div>
        <a href="/news/20190326-3m/">OpenINTEL passes 3 trillion data points and four years of measurements</a>
        <div class="teaser__content">
            This month, OpenINTEL has passed two major milestones! We passed four years of continuous measurements on March 1st, and passed the 3 trillion data points mark in the middle of March.
        </div>
        <a class="teaser__link" href="/news/20190326-3m/"><span>OpenINTEL passes 3 trillion data points and four years of measurements</span></a>
    </div>
</li>

            
        </ul>

    </div>
  </div>
</div>

</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older&rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}


<div class="posts-list">
<div class="container-fluid" style="margin: 0% 5% 0% 5%">
<div class="col-sm-12 col-sm-offset-0">

  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | relative_url }}">
	  <h2 class="post-title">{{ post.title }}</h2>
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
    <div class="post-entry-container">
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>
   </article>
  {% endfor %}
</div>
</div>
</div>



{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr;Newer</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older&rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
